* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

body {
    font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

table tbody .get{
    background-color: rosybrown;
}

table tbody .give{
    background-color: aquamarine;
}

#wrapper {
    margin: 10px auto;
    width: 70%;
}
